<div id="header">
	<div>
	<h1 class='title'>RAMEN <span style='font-size:4rem;'>&</span> THINGS	
	</h1>	
	<p style='margin-top:-3rem;font-size:1.25rem;'>		Handcrafted Ramen, Korean Corn Dogs, Fresh Fruit Blends and More</p>
	<h3>
		6428 Fair Oaks Blvd, Carmichael
	</h3>
	<h2>~ COMING SOON ~ <br> September 2025</h2>
	</div>
</div>



