<div id="header" class='row'>
	<div class='col-sm-12'>
		<h1 class='title'>RAMEN <span style='font-size:4rem;'>&</span> THINGS	
		</h1>	
		<p style='font-size:1.25rem;margin-top:2rem;'>		Handcrafted Ramen, Korean Corn Dogs, Fresh Fruit Blends and More</p>
		<h3 style='margin-top:2rem;'>
			6428 Fair Oaks Blvd Ste A, Carmichael
		</h3>
		<h2 style='margin-top:2rem;'>~ COMING SOON ~ <br> September 2025</h2>
	</div>
</div>

<div class='container'>

	<div id="menu" class='row'>
		<div class='col-sm-4'>
			<h2 class="title uppercase">Ramen</h2>
			<table class='table'>
				<tr>
					<td>Classic Tonkatsu</td><td>$12.99</td>
				</tr>
				<tr>
					<td>Shoyu Tonkatsu</td><td>$12.99</td>
				</tr>
				<tr>
					<td>Black Garlic Tonkatsu</td><td>$12.99</td>
				</tr>
				<tr>
					<td>Miso Tonkatsu</td><td>$12.99</td>
				</tr>
				<tr>
					<td>Shio Tonkatsu</td><td>$12.99</td>
				</tr>
				<tr>
					<td>Miso Veggie Ramen</td><td>$12.99</td>
				</tr>
				<tr>
					<td>Shoyu Veggie Ramen</td><td>$12.99</td>
				</tr>
				<tr>
					<td>Shio Veggie Ramen</td><td>$12.99</td>
				</tr>
			</table>
			<h3 class="title uppercase">Additional Ramen Toppings</h3>
			<table class="table">
				<tr><td>Pan Fried Corn</td><td>$.75</td></tr>
				<tr><td>Nori Seaweed</td><td>$.75</td></tr>
				<tr><td>Kamaboko (japanese fish cakes)</td><td>$.75</td></tr>
				<tr><td>Wood Ear</td><td>$1.00</td></tr>
				<tr><td>Spam</td><td>$1.50</td></tr>
				<tr><td>Seasoned Boiled Egg</td><td>$2.00</td></tr>
				<tr><td>Cha Shiu</td><td>$2.99</td></tr>
			</table>
		</div>
		<div class='col-sm-4'>
			<h2 class="title uppercase">Korean Corn Dogs</h2>
			<table class="table">
				<tr><td>Original Stretchy Dog</td><td>$5.99</td></tr>
				<tr><td>Flamin' Stretchy Dog</td><td>$6.49</td></tr>
				<tr><td>Blue Heat Stretchy Dog</td><td>$6.49</td></tr>
				<tr><td>Taki Stretchy Dog</td><td>$6.49</td></tr>
			</table>
			<h2 class="title uppercase">Other House Items</h2>
			<table class="table">
				<tr><td>Fries</td><td>$3.99</td></tr>
				<tr><td>Sweet Potato Fries</td><td>$4.49</td></tr>
			</table>
		</div>
		<div class='col-sm-4'>
			<h2 class="title uppercase">Beverages</h2>
			<table class="table">
				<tr><td>Strawberry Fruit Tea</td><td>$5.49</td></tr>
				<tr><td>Mango Fruit Tea</td><td>$5.49</td></tr>
				<tr><td>Thai Milk Tea</td><td>$5.99</td></tr>
				<tr><td>Coca Cola</td><td>$2.50</td></tr>
				<tr><td>Sprite</td><td>$2.50</td></tr>
				<tr><td>Diet Coke</td><td>$2.50</td></tr>
			</table>
		</div>
	</div>
</div>